* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
}

p {
    font-family: georgia;
    text-align: center;
}

h1 {
    font-family: georgia;
    font-size: 60px;
    text-align: center;
    text-decoration: underline;
}

li {
    text-align: center;
}

h3, h4 {
    text-align: center;
    font-family: georgia;
    font-size: 30px;
    padding-top: 10px;
    text-decoration: underline;
}

.image {
    text-align: center;
    border-style: solid;
    border-width: 4px;
    background-color: black;
}

.links {
    text-align: center;
    padding-bottom: 40px;
    
}

.footer {
    border-top: 10px solid black;
}

ul {
    list-style-position: inside;
}