p{
    font-family: georgia;
    text-align: center;
}

h1{
    font-family: georgia;
    font-size: 60px;
    text-align: center;
}

li{
    text-align: center;
}

h3{
    text-align: center;
    font-family: georgia;
    font-size: 30px;
}

a{
    text-align: center;
}