* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(130, 60, 99, .1);
    width: 100%;
}

p {
    text-align: center;
    font-family: georgia;
    font-size: 50px;
    margin-top: 100px;
    border-bottom: 10px black solid;
    padding-bottom: 20px;
}

h3 {
    text-align: center;
    font-family: georgia;
    font-size: 20px;
    margin-bottom: 50px;
}

h1 {
    font-family: georgia;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: double;
    margin-bottom: 70px;
}

img {
    display: inline-block;
    position: relative;
    left: 5%;
    border: 20px mediumaquamarine outset;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.caption {
    display: inline-block;
    width: 500px; 
    font-size: 25px; 
    text-align: center;
    font-family: georgia;
    margin-bottom: 50px;
    margin-left: 100px;
}

.caption a {
    color: black;
}

@media (max-width: 600px) {
    body {
        width: 100%;
    }
    
    img {
        height: 250px;
        width: 100%;
        left: 0%;
    }
    
    .caption {
        width: 100%;
        margin: auto;
    }
}