* {
    margin: 0;
    padding: 0;
}

body {
    background-color: palevioletred;
}

h1 {
    font-size: 100px;
    text-align: center;
}

.image {
    text-align: center;
    margin: 0 auto;
    border: 4px red solid;
}
