* {
    margin: 0;
    padding: 0;
}

body {
    background-color: palevioletred;
    width: 100%;
}

h1 {
    font-size: 70px;
    text-align: center;
}

.border {
    display: inline-block;
    position: relative;
    left: 50px;
    border: 10px rebeccapurple solid;
    height: 500px;
    width: 500px;
    margin: 50px 50px;
}

.us {
    display: inline-block;
    height: 500px;
    width: 500px;
}


.maurice {
    height: 500px;
    width: 500px;
}