* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(130, 60, 99, .5);
    width: 100%;
}

.footer p {
    text-align: center;
    font-family: georgia;
    font-size: 50px;
    margin-top: 100px;
    border-bottom: 10px black solid;
    padding-bottom: 20px;
    width: 100%;
}

h3 {
    text-align: center;
    font-family: georgia;
    font-size: 20px;
    margin-bottom: 50px;
}

h1 {
    font-family: georgia;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: double;
    margin-bottom: 70px;
}

img {
    border: 20px hsl(190, 50%, 80%) outset;
    height: 500px;
    width: 500px;
}

.pic1 {
    grid-area: pic1;
    justify-self: center;
    align-self: center;
}

.pic2 {
    grid-area: pic2;
    justify-self: center;
}

.pic3 {
    grid-area: pic3;
    justify-self: center;
}

.pic4 {
    grid-area: pic4;
    justify-self: center;
   
}

.caption1 {
    grid-area: caption1;
    justify-self: center;
    font-size: 25px;
    text-decoration: underline;
}

.caption2 {
    grid-area: caption2;
    justify-self: center;
    font-size: 25px;
    text-decoration: underline;
}

.caption3 {
    grid-area: caption3;
    justify-self: center;
    font-size: 25px;
    text-decoration: underline;
}

.caption4 {
    grid-area: caption4;
    justify-self: center;
    font-size: 25px;
    text-decoration: underline;
}

.grid {
    display: grid;
    grid-template-areas: 
        "pic1 pic2"
        "caption1 caption2"
        "pic3 pic4"
        "caption3 caption4";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 5fr 1fr);
    justify-content: center;
    align-content: center;
}

@media (max-width: 600px) {
    body {
        width: 100%;
    }
    
    img {
        height: 250px;
        width: 80%;
        border: 10px hsl(190, 50%, 80%) outset;
    }
    
    .caption1 {
        font-size: 15px;
    }
    
    .caption2 {
        font-size: 15px;
    }
    
    .caption3 {
        font-size: 15px;
    }
    
    .caption4 {
        font-size: 15px;
    }
    
    h1 {
        font-size: 25px;
    }
    
    h3 {
        font-size: 10px;
    }
    
    .footer p{
        font-size: 25px;
    }
}