* {
    margin: 0;
    padding: 0;
}

body {
    background-color: palevioletred;
    width: 100%;
}

h1 {
    font-family: georgia;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: double;
}

img {
    display: inline-block;
    position: relative;
    left: 5%;
    border: 10px rebeccapurple outset;
    margin: 50px 50px;
    display: inline-block;
    height: 500px;
    width: 500px;
}

.caption {
    width: 500px; 
    font-size: 12px; 
    text-align: center;
}

