* {
    margin: 0;
    padding: 0;
}

body {
    background-color: palevioletred;
    width: 100%;
}

h1 {
    font-size: 70px;
    text-align: center;
}

.border1 {
    position: relative
        left: 50px;
    border: 10px rebeccapurple solid;
    height: 500px;
    width: 500px;
}

.photo1 {
    height: 500px;
    width: 500px;
}

.border2 {
    float: left;
    border: 10px rebeccapurple solid;
    height: 500px;
    width: 500px;
}

.photo2 {
    height: 500px;
    width: 500px;
}