* {
    margin: 0;
    padding: 0;
}

body {
    background-color: palevioletred;
    width: 100%;
}

h1 {
    font-family: georgia;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: double;
    margin-bottom: 20px;
}

img {
    display: inline-block;
    position: relative;
    left: 5%;
    border: 10px rebeccapurple outset;
    margin: 0 auto;
    display: inline-block;
    height: 500px;
    width: 500px;
}

.caption {
    display: inline-block;
    width: 500px; 
    font-size: 20px; 
    text-align: center;
    font-family: georgia;
    margin-bottom: 50px;
    border: 3px black solid;
    position: relative;
    left: 5%;
}

