* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(130, 60, 99, .5);
    width: 100%;
}

.footer p {
    text-align: center;
    font-family: georgia;
    font-size: 50px;
    margin-top: 100px;
    border-bottom: 10px black solid;
    padding-bottom: 20px;
    width: 100%;
}

h3 {
    text-align: center;
    font-family: georgia;
    font-size: 20px;
    margin-bottom: 20px;
}

h1 {
    font-family: georgia;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: double;
    margin-bottom: 70px;
}

img {
    border: 20px hsl(190, 50%, 80%) outset;
    height: 500px;
    width: 500px;
    margin-right: -100px;
    margin-top: 100px;
}

.pic1, .pic1 a {
    grid-area: pic1;
    text-align: center;
    color: black;
    font-size: 20px;
}

.pic2, .pic2 a {
    grid-area: pic2;
    text-align: center;
    color: black;
    font-size: 20px;
}

.pic3, .pic3 a {
    grid-area: pic3;
    text-align: center;
    color: black;
    font-size: 20px;
}

.pic4, .pic4 a {
    grid-area: pic4;
    text-align: center;
    color: black;
    font-size: 20px;
}


.grid {
    display: grid;
    grid-template-areas: 
        "pic1 pic2"
        "pic3 pic4";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-content: center;
}

@media (max-width: 600px) {
    body {
        width: 100%;
    }
    
    img {
        height: 250px;
        width: 100%;
    }
    
    .caption {
        width: 100%;
        margin: auto;
    }
}